.container {
    display: inline-grid;
    margin:5px;
    vertical-align:top;
    width: 200px;
    height: 200px;
    grid-gap: 8px;
  }
  
  .a { background: red;}
  .b { background: blue;}
  .c { background: green;}
  

  /* when 2 items we add another column*/
  .container :nth-child(2):nth-last-child(1) {
    grid-column:2;
  }
  /* when 3 items we add another row as well */
  .container :nth-child(3):nth-last-child(1) {
    grid-row:2;
    grid-column:2;
  }
  /* when 3 items, the first one will span 2 rows*/
  .container :first-child:nth-last-child(3) {
    grid-row:span 2;
  }